[submodule "modules/cwr-workflow-ro-crate"]
	path = modules/cwr-workflow-ro-crate
	url = git@github.com:dnlbauer/cwr-workflow-ro-crate.git
[submodule "modules/FAIR-workflow-platform-argo-connector"]
	path = modules/argo-connector
	url = git@github.com:dnlbauer/FAIR-workflow-platform-argo-connector.git
[submodule "modules/FAIR-workflow-platform-cordra-schema"]
	path = modules/cordra-schema
	url = git@github.com:dnlbauer/FAIR-workflow-platform-cordra-schema.git
[submodule "modules/FAIR-workflow-platform-frontend"]
	path = modules/frontend
	url = git@github.com:dnlbauer/FAIR-workflow-platform-frontend.git
